# docker image build
.dockerignore

# user defined files
.env
docker-compose.override.yml


node_modules/
.yarn/
PLANS.md
plan2.md
reports/
develop/output/
compiles-worker-2/
output-worker-2/
compiles-worker-3/
output-worker-3/
